:host{
    display: flex;
    border-radius: 0.1rem;
    background-color: white;
}

.star-icon{
    color: yellow;
}

fa-icon{
    padding: 1rem;
    cursor: pointer;
}

.left{
    margin-left: auto;
    display: flex;
    align-items: center;
}

.left fa-icon{
    padding-right: 0rem;
}