<fa-icon [icon]="faEnvelope"></fa-icon>
<fa-icon [icon]="faMessage"></fa-icon>
<fa-icon [icon]="faBoxArchive"></fa-icon>
<fa-icon [icon]="faFileCircleCheck"></fa-icon>
<fa-icon class="star-icon" [icon]="faStar"></fa-icon>
<!-- right side of the navbar -->
<div class="left">
    <fa-icon [icon]="faFlagUsa"></fa-icon>
    English
</div>
<fa-icon [icon]="faMoon"></fa-icon>
<fa-icon [icon]="faSearch"></fa-icon>
<fa-icon [icon]="faCartShopping"></fa-icon>
<fa-icon [icon]="faBell"></fa-icon>
<app-user-chip [name]="'John Doe'" [role]="'admin'" [iconName]="iconName"></app-user-chip>