:host{
    padding: var(--padding);
    border-radius: 0.2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0.1rem;
}

select{
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    outline: none;
    color: var(--text-color);
    border: 0.2rem solid var(--text-color);
}

canvas{
    max-width: 10rem;
}