:host{
    display: flex;
    flex-direction: column;
    border-radius: 0.1rem;
    background-color: white;
}

.logo{
    color: var(--text-color);
}

hr{
    width: 100%;
    margin: 0rem;
    color: black;
}

fa-icon{
    padding: 1rem;
    cursor: pointer;
    text-align: center;
}