<div class="root">
    <fa-icon class="logo" [icon]="faAngleDoubleDown"></fa-icon>
    <fa-icon [icon]="faHome"></fa-icon>
    <hr />
    <fa-icon [icon]="faEnvelope"></fa-icon>
    <fa-icon [icon]="faMessage"></fa-icon>
    <fa-icon [icon]="faFileCircleCheck"></fa-icon>
    <fa-icon [icon]="faBoxArchive"></fa-icon>
    <fa-icon [icon]="faTimeline"></fa-icon>
    <fa-icon [icon]="faFileCode"></fa-icon>
    <fa-icon [icon]="faPrint"></fa-icon>
    <fa-icon [icon]="faCartShopping"></fa-icon>
    <fa-icon [icon]="faUser"></fa-icon>
    <fa-icon [icon]="faFileLines"></fa-icon>
    <hr />
    <fa-icon [icon]="faT"></fa-icon>
    <fa-icon [icon]="faDroplet"></fa-icon>
</div>
